.ChatBox {
  width: 100%;
  height: 660px;
  background-color: #16697a;
  border-radius: 25px;
  border: 1px solid black;
}

#chatName {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ede7e3;
  text-align: center;
}

.InnerChatDiv {
  background-color: #ede7e3;
  border: 1px solid black;
  width: 100%;
  height: 530px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  overflow-y: scroll;
}

#formControlInput {
  width: 90%;
  margin: auto;
  margin-top: 15px;
}

.messageBoxWrapper {
  margin-left: 5px;
  box-sizing: content-box;
  overflow: hidden;
  margin-bottom: 10px;
}

.usernameChatDivMessage {
  float: left;
  margin-left: 5px;
  width: 100%;
  margin-top: 10px;
  font-size: 13px;
}

.chatMessageText {
  float: left;
  max-width: 70%;
  display: inline-block;
  word-wrap: break-word;
  font-size: 15px;
  padding: 10px;
  border-radius: 15px;
  background-color: #1c8f63;
  color: white;
}
