body {
  background: url(../images/background1.jpg) fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ede7e3;
}

#home-components {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: auto;
  margin-top: 5%;
}

/* Keeps elements relatively close together on larger screens */
@media(min-width: 2600px) {
  #home-components {
    width: 70%;
  }
}

.home-element {
  margin: none;
  margin: auto;
  flex-shrink: 0;
  margin-bottom: 15px;
}

.LeagueNews {
  margin: auto;
  box-shadow: 0 2px 5px 5px #464646;
}

.Leaderboard {
  margin: auto;
  box-shadow: 0 2px 5px 5px #464646;
}

#home-chat {
  margin: auto;
  width: 550px;
  border-radius: 25px;
  box-shadow: 0 2px 5px 5px #464646;
}
