body {
  background: url(../images/background1.jpg) fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.LeagueNews {
  float: left;
  margin-top: 3%;
  margin-left: 70px;
}

.Leaderboard {
  float: left;
  margin-top: 3%;
  margin-left: 104px;
}

.ChatBox {
  float: left;
  margin-top: 3%;
  margin-left: 104px;
}
