.LeagueNews {
  background-color: #16697a;
  width: 550px;
  height: 600px;
  border: 1px solid black;
  border-radius: 25px;
  padding-bottom: 35px;
}

#announcementsTitle {
  color: #ede7e3;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-bottom: 1px solid black;
}

.InnerAnnouncementsDiv {
  width: 550px;
  height: 560px;
  margin: auto;
  overflow-y: auto;
  border-bottom: 1px solid black;
}

#hrAnnouncementsTitle {
  padding: 0;
  margin: 0;
}

.AnnouncementsTitleSection {
  padding: 0;
  margin: 0;
}

.AnnouncementTab {
  width: 100%;
  min-height: 150px;
  background-color:#82c0cc;
  margin-bottom: 0;
  border-bottom: 1px solid #edddd4;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
}

.AnnouncementTab:last-child {
  border: none;
}

#announcementTabTitle {
  color: #103451;
  margin-top: 0;
  margin-bottom: 2%;
  text-align: center;
}

#announcementTabDesc {
  color: #103451;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
