.MatchHistory {
  background-color: white;
  width: 550px;
  height: 600px;
  border: 1px solid black;
  border-radius: 25px;
  padding-bottom: 35px;
}

#matchHistoryTitle {
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
  border-bottom: 1px solid black;
}

.InnerMatchHistoryDiv {
  width: 550px;
  height: 560px;
  margin: auto;
  overflow-y: auto;
  border-bottom: 1px solid black;
}

.MatchHistoryTitleSection {
  padding: 0;
  margin: 0;
}

.MatchHistoryTab {
  width: 100%;
  min-height: 100px;
  background-color: rgb(23, 24, 92);
  margin-bottom: 0;
  border-bottom: 2px solid white;
  margin: auto;
}

.MatchHistoryTab:last-child {
  border: none;
}

#MatchHistoryTabTitle {
  color: white;
  margin-top: 0;
  margin-bottom: 2%;
  text-align: center;
}

#MatchHistoryTabDesc {
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
