.MatchHistory {
  background-color: #16697a;
  border: 1px solid black;
  border-radius: 25px;
  padding-bottom: 35px;
  margin: auto;
  margin-top: 5%;
}

#matchHistoryTitle {
  color: #ede7e3;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-bottom: 1px solid black;
}

.InnerMatchHistoryDiv {
  width: 550px;
  height: 560px;
  margin: auto;
  overflow-y: auto;
  border-bottom: 1px solid black;
}

.MatchHistoryTitleSection {
  padding: 0;
  margin: 0;
}

.MatchHistoryTab {
  width: 100%;
  min-height: 100px;
  color: #16697a;
  background-color:#82c0cc;
  margin-bottom: 0;
  border-bottom: 2px solid#edddd4;
  margin: auto;
}

.MatchHistoryTab:last-child {
  border: none;
}

#MatchHistoryTabTitle {
  margin-top: 0;
  margin-bottom: 2%;
  text-align: center;
}

#MatchHistoryTabDesc {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  padding-top: 10px;
}
