.innerMyTournaments {
  margin-top: 5%;
  width: 100%;
  display: flex;
}

#GlobalTour {
  margin-left: auto;
  border-radius: 15px;
  box-shadow: 0 2px 15px 5px black;
}

#FriendsTour {
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 2px 15px 5px black;
}
