.innerMyTournaments {
  margin-top: 5%;
  width: 100%;
  display: flex;
}

#GlobalTour {
  margin-left: auto;
  box-shadow: 0 5px 25px 10px black;
}

#FriendsTour {
  margin: auto;
  box-shadow: 0 5px 25px 10px black;
}
