.NavBar {
  width: 100%;
  height: 65px;
  background-color: #16697a;
  box-shadow: 0 5px 5px -1px #464646;
}

.NavBar-nav {
  width: 100%;
}

.h2tagNavLogo {
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  display: block;
  color: #ede7e3;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  margin-top: 18px;
}

.h2tagNavLogo:hover {
  color: #ffa62b;
  cursor: pointer;
}

.NavBar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  overflow: hidden;
}

.NavBar-li {
  display: inline-block;
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.NavBar-li:nth-last-child(1) {
  float: right;
}

.NavBar-li:nth-last-child(2) {
  float: right;
}

.NavBar-li:nth-last-child(3) {
  float: right;
}

.h2tagNav {
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  display: block;
  color: #ede7e3;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  margin-top: 18px;
}

.h2tagNav:hover {
  color: #ffa62b;
  cursor: pointer;
}

.menuIcon {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.incomingFriendRequests {
  margin-top: 50px;
}

.currentFriends {
  margin-top: 50px;
}

.friendRequestSection {
  border: 1px solid white;
  min-height: 300px;
  width: 375px;
  background-color: #14434d;
  margin: auto;
  margin-top: 5px;
  padding: 10px;
  height: 45px;
  overflow-y: scroll;
}

.currentFriendsSection {
  border: 1px solid white;
  min-height: 300px;
  width: 375px;
  background-color: #14434d;
  margin: auto;
  margin-top: 5px;
  padding: 10px;
  height: 45px;
  overflow-y: scroll;
}

.friendTabInfo {
  width: 100%;
  height: 60px;
  background-color: rgb(55, 38, 117);
  margin-top: 10px;
  border-radius: 10px;
}

.friendTabAvatar {
  width: 50px;
  float: left;
  text-align: center;
  margin-top: 7px;
  margin-left: 5px;
}

.friendTabName {
  width: 150px;
  float: left;
  margin-top: 17px;
  font-size: 20px;
  text-align: center;
}

.friendTabButtons {
  width: 150px;
  margin: auto;
  float: left;
  margin-top: 20px;
}
