.TeamSelection {
  width: 100%;
  height: 100%;
  display: flex;
}

.NavTeamSelection {
  width: 100%;
  height: 50px;
}

.TabsTeamSelection {
  width: 50%;
  float: left;
  height: 50px;
  background-color:#82c0cc;
  margin-top: 5px;
}

.ActionsTeamSelection {
  width: 50%;
  float: left;
  height: 50px;
  margin-top: 10px;
  border-top: 1px solid #ede7e3;
  border-bottom: 1px solid#ede7e3;
}

.SecondaryTabsTeamStats {
  width: 200%;
  height: 680px;
  background-color: #489fb5;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  overflow-y: auto;
}

.SecondaryTabsRosterSelection {
  width: 200%;
  height: 680px;
  background-color: #489fb5;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.SecondaryTabsActivePlayers {
  width: 200%;
  height: 680px;
  background-color:#16697a;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  overflow-y: auto;
}

.PlayerCard {
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid#ede7e3;
}

.ifLockedInButton {
  float: left;
  margin-left: 45%;
  margin-top: 300px;
}
