.TournamentDetails {
  width: 100%;
  height: 100%;
}

.innerTournamentDetails {
  float: left;
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  height: 810px;
  margin: auto;
  margin-top: 3%;
  color: black;
}

.TourCardDetailsPageDiv {
  float: left;
  margin: auto;
  margin-top: 3%;
  border-radius: 10px;
  box-shadow: 0 5px 5px 5px #464646;
}

.NavBarTabsTournamentDetails {
  background-color: black;
  border-radius: 10px;
  width: 100%;
  height: 70px;
  color: white;
}

#TourDetailsPanel1 {
  height: 640px;
  background-color: #489fb5;
  border-radius: 0 0 10px 10px;
  padding-bottom: 50px;
}

#TourDetailsPanel2 {
  height: 640px;
  background-color: #489fb5;
  border-radius: 0 0 10px 10px;
  padding-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

#TourDetailsPanel3 {
  height: 640px;
  background-color: #489fb5;
  border-radius: 0 0 10px 10px;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.ChatBox {
  box-shadow: none;
  background-color:#16697a;
}

.Leaderboard {
  color: white;
  box-shadow: none;
  margin-top: 30px;
  background-color:#16697a;
}

.innerLeaderboard {
  background-color:#82c0cc;
  color: #16697a;
}

.MatchHistory {
  margin-top: 50px;
  margin: auto;
}

#tcd-wrapper {
  display: flex;
}

#tour-chat {
  margin: auto;
}

#tour-lb {
  margin: auto;
}
